a { 
    margin: 5px;
    color: white
}

.jumbotron {
    background-color: #f9577d;
    font-family: "Futura", sans-serif;
    color: white;
    height: 100vh;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

.navbar {
    background-color: #f9577d;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
    color: white;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-header .navbar-nav {
    margin: 0px;
}

#Header-container {
    margin-left: 10px;
}

#UserInfo-container {
    margin-right: 10px;
}
