.jumbotron {
    background-color: #f9577d;
    font-family: "Futura", sans-serif;
    color: white;
}

.navbar {
    background-color: #f9577d;
    border-width: 0px;
    border-radius: 0px;
    margin: 0px;
}

.navbar-default * {
    color: white;
    margin: 0px;
}

#Header-container {
    margin-left: 10px;
}

#UserInfo-container {
    margin-right: 10px;
}
